body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra il form verticalmente */
    align-items: center;
    margin: 0;
    background-image: url('rullino/vetrina.jpg');
    background-size: cover;  /* Adatta l'immagine a tutto lo schermo */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione */
    background-attachment: fixed; /* Mantiene l'immagine fissa mentre si scorre */
    width: 100vw; /* Assicura che copra tutta la larghezza */
    height: 100vh; /* Assicura che copra tutta l'altezza */
    padding-top: 40px; /* Spazio dall'alto per il logo */
}


.logo-container {
    width: 80%;
    max-width: 150px; /* Dimensione del logo */
    margin-bottom: 20px; /* Distanza tra il logo e il form */
}

.logo-container img {
    width: auto;
    max-width: 140px; /* Riduci questo valore, prova 100px o meno */
    height: auto;
}


.form-container {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container label {
    font-size: 14px;
    color: #333;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #555;
}

.buttons_select {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img_sceltacapelli {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.3s ease, transform 0.3s ease;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label .img_sceltacapelli {
    border: 3px solid black;
    transform: scale(1.1);
}

.img_label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
